:root{
    --main:#ffcdb2;
    --primary: #11d388;
    --black:#141414;
    --white:#fff;
    --bg: #f2f2f2;
    --light-black:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

 }
  
.order{
    background: var(--bg);
  }
  
  .order .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
  
  .order .row .content{
    flex: 1 1 30rem;
    text-align: center;
  }
  
  .order .row .content img{
    width: 50%;
    padding-bottom: 2rem;
  }
  
  .order .row .content h3{
    font-size: 3.5rem;
    color: var(--primary-color);
  }
  
  .order .row .content p{
    font-size: 1.4rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
  }
  
  .order .row .content h4{
    font-size: 2.8rem;
    color: var(--primary);
  }
  
  .order .row .content h6{
    font-size: 1.7rem;
    color: var(--black);
    font-weight: normal;
    padding-bottom: 3rem;
  }
  
  .order .row .image{
    flex: 1 1 9rem;
  }
  
  .order .row .image img{
    width: 500px;
    border-radius: 20px 20px  20px 20px;
    box-shadow: var(--box-shadow);
object-fit: cover;
  }

  @media (max-width:1024px) {
    .order .row .image img{
      width: 30rem;
      border-radius: 20px 20px  20px 20px;
      box-shadow: var(--box-shadow);
    }
    .order .row .content{
      flex: 1 1 30rem;
      text-align: center;
    }
    .order .row .image{
      flex: 1 1 9rem;
      text-align: center;

    }
    .order .row{
      display:block;
      gap: 2rem;
      align-items: center;
    }
    
  }
  

  /* 1024 */