.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.2rem 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10 ;
  transition: 0.5s;
  animation: fadeBackground 0.5s;
  background-color: #e9768f;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
 
  
}


.logo-active{
display: none !important;

}


.logo{
  width: 156px;
  text-align: center;
  margin:auto 0; 

}




.nav-menu {
  display: flex;
}
.nav-menu li {
  padding: 0 1rem;
}


.nav-menu li a {
  font-size: 2rem;
  font-weight: 500;
  color:var(--white);
}
.nav-menu li a:hover {
  color: darkorange;
  transition: all 0.4s ease-out;
 

}
.hamburger {
  display: none;
}



@media (max-width:992px) {
  .logo{
    width: 135px;
    text-align: center;
    
  }
}


@media (max-width:768px) {
  
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 100%;
    height: 100vh;
    background:#e9768f;
    position: absolute;
    top: 0;
    left:-100%;
    z-index: 5;
    transition: all 0.6s ease-out;
  }
  .nav-menu.active{
    left:0;
  }
  

  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }
  .hamburger {
    display: initial;
    z-index: 6;
  }

  .logo-active{
    width: 30rem;
    text-align: center;
    display: block !important;

  }
  .logo{
    width: 130px;
    text-align: center;
    
  }

  
 

  
  
}
