.heading-about-head{
  position: relative;
  color: #f69b12;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  margin:0 auto;
}
.heading-about-head span{
  color:white !important;
}

.about{
    background-color: #e9768f;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
  }
  
  .about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
  }
  
  .about .row .image{
    flex: 1 1 30rem;
  }
  
  .about .row .image img{
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
  .about .row .content{
    flex: 1 1 60rem;
  }
  
  .about .row .content h3{
    color: #4b2b2c;
    font-size: 3.5rem;
    line-height: 1.2;
  }
  
  .about .row .content p{
    font-size: 1.5rem;
    padding: 2rem 0;
    color: #fdfafa;
    line-height: 2;
    font-weight:lighter;
    margin-bottom: 1rem;
  }
  .about .row .content p b{
    font-size: 2rem;
    color:#4b2b2c;
   
  }

  @media (max-width:991px) {

.about{
 padding: 3rem 2rem;
  }
    
  }
  